attrs==17.4.0
funcsigs==1.0.2
mock==2.0.0
more-itertools==4.1.0
numpy==1.10.4
pandas==0.17.1
pluggy==0.6.0
psutil==3.4.2
py==1.10.0
pytest==3.5.0
scikit-learn==0.17
scipy==0.17.0
six==1.11.0
statsmodels==0.6.1
